@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}
.navbar {
  color: blue;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.inputs {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 50px;
}
label {
  font-size: 25px;
}
select {
  padding: 4px 2.5px;
  font-size: 20px;
}
input {
  font-size: 20px;
  width: 30vw;
}
.text-input,
.size-input,
.download {
  margin: 50px;
  margin-top: 50px;
}
.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
button {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  background-color: blue;
  border: none;
  border-radius: 2px;
}
button:hover {
  cursor: pointer;
  opacity: 80%;
}
.live {
  color: blue;
}
